<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/fragments/header :: header-css"></div>
    <style type="text/css">
        .forCard {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    </style>
</head>
<body>
<div th:replace="common/fragments/header :: header"></div>

<div class="container marginTop">
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <div class="card h-100">
                <img src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1409&q=80"
                     class="card-img-top h-50">
                <div class="card-body">
                    <h5 class="card-title">Банан</h5>
                    <p class="card-text forCard">Бана́н — название съедобных плодов культивируемых растений рода Банан
                        (Musa);
                        обычно под таковыми понимают Musa acuminata и Musa × paradisiaca, а также Musa balbisiana, Musa
                        fehi[en], Musa troglodytarum[en] и ряд других.
                        Также бананами могут называть плоды Ensete ventricosum[en] (строго говоря, являющегося
                        представителем другого рода семейства Банановые).
                        С ботанической точки зрения банан является ягодой, многосеменной и толстокожей.
                        У культурных форм часто отсутствуют семена, ненужные при вегетативном размножении.
                        Плоды имеют длину 6—30 см и диаметр 2—5 см.
                        Соплодия могут состоять из 300 плодов и иметь массу до 50—60 кг.

                        Бананы — одна из древнейших пищевых культур, а для тропических стран важнейшее пищевое растение
                        и главная статья экспорта.
                        Спелые бананы широко употребляются в пищу по всему миру, их используют при приготовлении
                        большого количества блюд.
                        Помимо употребления в свежем виде, в кухне некоторых народов бананы могут зажариваться или
                        вариться как в очищенном, так и в неочищенном виде.
                        Их также сушат, консервируют, используют для приготовления банановой муки, мармелада, сиропов,
                        вин.
                        Бананы применяются также в качестве корма для скота.
                        Запах бананов определяют изовалерианово-изоамиловый и уксусно-изоамиловый эфиры.
                        Выращиваются в тропических и субтропических районах с жарким влажным климатом.
                        Существует большое число сортов съедобных видов банана.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="http://www.nyan.cat/cats/original.gif" class="card-img-top h-50">
                <div class="card-body">
                    <h5 class="card-title">Nyan Cat!</h5>
                    <p class="card-text forCard">ОГО! Наш отель посетил nyan cat!</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#" class="btn btn-primary">Читать</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://www.sciencenews.org/wp-content/uploads/2021/02/022421_mt_number-generator_feat-1030x580.jpg" class="card-img-top h-50">
                <div class="card-body">
                    <h5 class="card-title">Игральные кости</h5>
                    <p class="card-text forCard">Это игральные кости</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#" class="btn btn-primary">Читать</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cosafareazante.com/wp-content/uploads/2019/04/faq-domande-e-risposta-www.cosafareazante.com-vacanze-isola-di-zante-zakynthos-island-grecia-greece-estate-summer-nightlife-ugo-foscolo-laganas.jpg" class="card-img-top h-50">
                <div class="card-body">
                    <h5 class="card-title">Гомер Симпсон</h5>
                    <p class="card-text forCard">Это Гомер Симпсон</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#" class="btn btn-primary">Читать</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/fragments/footer :: footer"></div>
</body>
</html>