<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/fragments/header :: header-css"></div>
    <script>
        $(document).ready(function () {

            $('input[type="radio"]').click(function () {
                if ($(this).attr("value") === "4") {
                    $(".room").show('slow');
                } else {
                    $(".room").hide('slow');

                }
            });

            $('input[type="radio"]').trigger('click');  // trigger the event
        });
    </script>
</head>
<body>

<div th:replace="common/fragments/header :: header"></div>

<div class="container marginTop">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
        <form action="#" th:action="@{/users}" th:object="${user}" method="post">
            <h2>Добавить нового пользователя</h2>

            <p>
                <label>Логин</label>
                <input type="text" th:field="*{userName}" placeholder="Введите логин"
                       class="form-control"/> <label
                    th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
                    class="validation-message"></label>
            </p>

            <p>
                <label>Пароль</label>
                <input type="password" th:field="*{password}"
                       placeholder="Введите пароль" class="form-control"/> <label
                    th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                    class="validation-message"></label>
            </p>

            <p>
                <label>Имя</label>
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       class="validation-message"></label>
                <input type="text" th:field="*{name}" placeholder="Введите имя"
                       class="form-control"/>
            </p>

            <p>
                <label>Фамилия</label>
                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                       class="validation-message"></label>
                <input type="text" th:field="*{lastName}"
                       placeholder="Введите фамилию" class="form-control"/>
            </p>

            <label>Роль</label>
            <div th:each="role : ${roles}">
                <p>
                    <input type="radio" id="roleRadio" th:field="${user.roles}" th:value="${role.id}"/>
                    <label class="custom-control-label" th:for="${role.id}"
                           th:text="${role.roleDescription}"></label>
                </p>
            </div>

            <p class="room" style="display:none">
                <label>Комната</label>
                <input type="text" th:field="*{room}" placeholder="Введите комнату"
                       class="form-control"/> <label
                    th:if="${#fields.hasErrors('room')}" th:errors="*{room}"
                    class="validation-message"></label>
            </p>

            <p>
                <button type="submit" class="btn btn-primary btn-block">Создать пользователя</button>
            </p>

        </form>
    </div>
</div>
</div>

</body>
</html>