<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container marginTop">
  <h2 th:text="'Заявка #' + *{id}"></h2>

  <form action="#" th:action="@{'/guest/requests/' + *{id}}" th:object="${request}" method="POST">

    <p>Описание проблемы: <input type="text" th:field="*{description}" class="form-control mb-4 col-4"></p>

    <button type="submit" class="btn btn-dark col-2"> Принять</button>
  </form>

  <hr>

  <a th:href="@{/guest/requests/}"> Вернуться к заявкам</a>
</div>

</body>
</html>