<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container marginTop">
    <form th:action="@{/requests}" th:object="${request}" method="post">

        <p>Описание:
            <input type="text" th:field="*{description}" name="description" id="description"
                   class="form-control input-lg"
                   placeholder="Description" required="true" autofocus="true"/>
        </p>
        <p><input type="submit" value="Принять"/> <input type="reset" value="Сбросить"/></p>
    </form>
</div>
</body>
</html>