<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="common/fragments/header :: header"></div>

<div class="container marginTop">
    <form th:action="@{/requests}" th:object="${request}" method="post">

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Опишите возникшую проблему:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" th:field="*{description}"></textarea>
        </div>

        <input class="btn btn-dark" type="submit" value="Принять"/>
        <input class="btn btn-light" type="reset" value="Сбросить"/>
    </form>
</div>

<div th:replace="common/fragments/footer :: footer"></div>

</body>
</html>