<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="common/fragments/header :: header"></div>

<div th:switch="${requests.size()}" class="container marginTop">

    <a th:href="@{/requests/new}" class="btn btn-dark btn-lg" tabindex="-1" role="button" aria-disabled="true">
        Создать заявку
    </a>

    <div class="row">
        <div class="col-md-12">
            <h2 th:case="0">Заявок ещё нет</h2>
            <div th:case="*">
                <h2 class="my-5">Заявки</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Описание проблемы</th>
                        <th>Статус</th>
                        <th>Рейтинг</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request : ${requests}">
                        <td th:text="${request.id}"></td>
                        <td th:text="${request.description}"></td>
                        <td th:text="${request.status.getString()}"></td>
                        <td th:text="${request.rating}"></td>
                        <td><a th:if="${request.status.getString() == 'Создано'}"
                               th:href="@{/requests/{id}(id=${request.id})}" class="btn btn-light"><i
                                class="fas fa-edit"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/fragments/footer :: footer"></div>

</body>
</html>