<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="common/fragments/header :: header"></div>

<div class="container">
    <div class="row justify-content-center marginTop">
        <div class="col-6">
            <form class="card-1" action="#" th:action="@{'/tasks/' + *{taskId}}" th:object="${task}" method="POST">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a th:href="@{/tasks/}" class="btn btn-sm btn-danger mt-3 me-3">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <div class="mt-3 ms-5 mb-3 row">
                    <label for="staticId" class="col-sm-4 col-form-label fw-bold">№: </label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control-plaintext" id="staticId" th:value="${task.taskId}">
                    </div>
                </div>
                <div class="mt-3 ms-5 mb-3 row">
                    <label for="staticGuest" class="col-sm-4 col-form-label fw-bold">Гость: </label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control-plaintext" id="staticGuest" th:value="${task.guestFirstName + ' ' + task.guestLastName}">
                    </div>
                </div>
                <div class="mt-3 ms-5 mb-3 row">
                    <label for="staticRoom" class="col-sm-4 col-form-label fw-bold">Номер: </label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control-plaintext" id="staticRoom" th:value="${task.guestRoom}">
                    </div>
                </div>
                <div class="mt-3 ms-5 mb-3 row">
                    <label for="staticStatus" class="col-sm-4 col-form-label fw-bold">Статус: </label>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control-plaintext" id="staticStatus" th:value="${task.status.statusName}">
                    </div>
                </div>
                <div class="mt-3 pb-5 ms-5 me-5 row"  style="width: 80%;">
                    <label for="description" class="form-label fw-bold">Проблема:</label>
                    <textarea class="form-control"
                              id="description"
                              style="background-color: white; margin-left: 2%"
                              rows="5"
                              th:text="*{description}"
                              readonly>
                    </textarea>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="common/fragments/footer :: footer"></div>
</body>
</html>