<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="common/fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="common/fragments/header :: header"></div>

<<div class="container marginTop">
  <h2 th:text="'Заявка #' + *{id}"></h2>

  <form action="#" th:action="@{'/requests/' + *{id}}" th:object="${request}" method="POST">

    <label for="exampleFormControlTextarea1" class="form-label">Сотрудник</label>
    <div th:each="user : ${users}">
      <p>
        <input type="radio" id="roleRadio" th:field="${request.worker}" th:value="${user.lastName}"/>
        <label class="custom-control-label" th:for="${user.lastName}"
               th:text="${user.lastName}"></label>
      </p>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Комментарий</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{dispatcher_comment}"></textarea>
    </div>

    <button type="submit" class="btn btn-dark col-2"> Принять</button>
    <a th:href="@{'/requests/' + *{id} + '/cancel'}" class="btn btn-danger">Отменить заявку</a>
  </form>

  <hr>

  <a th:href="@{/dispatcher/requests/}"> Вернуться к заявкам</a>
</div>

<div th:replace="common/fragments/footer :: footer"></div>

</body>
</html>