<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div th:switch="${requests.size()}" class="container marginTop">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="0">Заявок ещё нет</h2>
            <div th:case="*">
                <h2 class="my-5">Заявки</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Комната</th>
                        <th>Описание проблемы</th>
                        <th>Статус</th>
                        <th>Рейтинг</th>
                        <th>Назначенный сотрудник</th>
                        <th>Коментарий диспетчера</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request : ${requests}">
                        <td th:text="${request.id}"></td>
                        <td th:text="${request.firstName}"></td>
                        <td th:text="${request.lastName}"></td>
                        <td th:text="${request.room}"></td>
                        <td th:text="${request.description}"></td>
                        <td th:text="${request.status.getString()}"></td>
                        <td th:text="${request.rating}"></td>
                        <td th:text="${request.worker}"></td>
                        <td th:text="${request.dispatcher_comment}"></td>
                        <td><a th:href="@{/dispatcher/requests/{id}(id=${request.id})}" class="btn btn-primary"><i
                                class="fas fa-user-edit ml-2"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>